[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "fastpolicytree"]
	path = fastpolicytree
	url = https://github.com/jcussens/tailoring
	subdir = fastpolicytree
